<meta name="viewport" content="width=device-width">


body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	font-size: auto;
	padding: auto;
	}

div {
	box-sizing: border-box;
	font-size: 24px;
    border: 1px solid black;
    margin: 10px auto 10px auto;
}

#root {width: 100%;
  background-color: white;
  border-color: white;
}

.bbox {
	float: left;
	width: 33.33%;
	background-color: white;
	border-color: white;
}

.dicr {
	clear: right;
	width: 98%;
	margin-bottom: auto;
	margin-right: auto;
  	margin-left: auto;
}

.title {
	clear: left;
	text-align: right;
	float: right;
	width: auto;
	padding: 5px;
    margin: auto;
    margin-bottom: 15px;
    border: 1px solid black;
}

#st {
	width: 90%;
	background-color: #e6ffe6;
	}

#nd {
	width: 90%;
	background-color: #e6ffe6;
	}

#rd {
	width: 90%;
	background-color: #e6ffe6;
	}


#st .title {
	background-color: red;
}

#nd .title {
	background-color: yellow;
}

#rd .title {
	background-color: cadetblue;
}

/*big devises*/

/*@media (min-width: 993px) {
	.bd {
	float: left;
	width: 33.33%;
	}

/*medium devises*/

@media (max-width: 992px) {
	.md1 {
		float: left;
		background-color: white;
		border-color: white;
		width: 50%;
}

	.md2 {width: 100%;}

	#st {width: 100%;}
	#nd {width: 100%;}
	#rd {width: 100%}
	 
}

/*small devises*/

@media (max-width: 767px) {
	.sd {width: 100%;}
	#st {width: 100%}
	#nd {width: 100%}
	#rd {width: 100%}
	}
